<div class="d-flex justify-content-end align-items-start"> @if (goatForm.nickname().value() || goatForm.name().value() ||
  goatForm.normalizeId().value()) { <h1 class="text-center flex-grow-1" [class.unsaved]="unsavedChanges()">
    {{goatForm.nickname().value() || goatForm.name().value() || goatForm.normalizeId().value()}}:
  </h1> } @if (goatForm.id().value()) { <div class="btn-group p-1">
    <button type="button" class="btn btn-secondary color-scheme-quaternary" online-only (mouseup)="syncAll()"
      [disabled]="syncingDetails">Sync All <i class="bi bi-arrow-repeat" [class.spin]="syncingDetails"></i></button>
    <button #dropdownButton type="button" class="btn btn-secondary color-scheme-quaternary dropdown-toggle dropdown-toggle-split"
      data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" online-only>
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul #dropdown class="dropdown-menu color-scheme-quaternary" style="width: 125%">
      <li><button type="button" class="dropdown-item btn color-scheme-quaternary" [disabled]="syncingDetails" (click)="syncDetails()">Sync
          Details <i class="bi bi-arrow-repeat float-end" [class.spin]="syncingDetails"></i></button></li>
      <li><button type="button" class="dropdown-item btn color-scheme-quaternary" [disabled]="syncingLA" (click)="syncLA()">Sync LA <i
            class="bi bi-arrow-repeat float-end" [class.spin]="syncingLA"></i></button></li>
      <li><button type="button" class="dropdown-item btn color-scheme-quaternary" [disabled]="syncingLactations"
          (click)="syncLactations()">Sync Lactations <i class="bi bi-arrow-repeat float-end" [class.spin]="syncingLactations"></i></button>
      </li>
      <li><button type="button" class="dropdown-item btn color-scheme-quaternary" [disabled]="syncingAwards" (click)="syncAwards()">Sync
          Awards <i class="bi bi-arrow-repeat float-end" [class.spin]="syncingAwards"></i></button></li>
      <!--
              <li><button type="button" class="dropdown-item" (click)="syncShows()" [disabled]="syncing">Sync Shows <i
              class="bi bi-arrow-repeat float-end" [class.spin]="syncingShows"></i></button>
            </li>
            <li><button type="button" class="dropdown-item" (click)="syncLA()" [disabled]="syncing">Sync LA <i class="bi bi-arrow-repeat float-end"
            [class.spin]="syncingLA"></i></button></li>
            <li><button type="button" class="dropdown-item" (click)="syncAwards()" [disabled]="syncing">Sync Awards <i
            class="bi bi-arrow-repeat float-end" [class.spin]="syncingAwards"></i></button>
          </li>
          <li><button type="button" class="dropdown-item" (click)="syncProgeny()" [disabled]="syncing">Sync Progeny <i
          class="bi bi-arrow-repeat float-end" [class.spin]="syncingProgeny"></i></button>
        </li>
        -->
    </ul>
  </div> } </div>
<div class="container">
  <div class="row  row-cols-1 row-cols-md-2  row-cols-xxl-3 justify-content-around pt-3"> @if (!related) { <div class="mb-3 col">
      <div class="input-group" [class.unsaved]="'nickname' in dirtyFields()">
        <span class="input-group-text">Nickname:</span>
        <input type="text" class="form-control" [formField]="goatForm.nickname"
          [suggestion]="goatForm.name().value()?.split(' ')?.pop() ?? ''">
      </div>
      <div class="form-text">Your Goat's Farm Name (Used As The Primary Identifier)</div>
    </div> } <div class="mb-3 col">
      <div class="input-group" [class.unsaved]="'name' in dirtyFields()">
        <span class="input-group-text">Name:</span> @if (!goatForm.name().disabled()) { <input type="text" class="form-control"
          [formField]="goatForm.name"> } @else { <app-case-input [modelValue]="goatForm.name().value()"
          class="form-control"></app-case-input> }
      </div>
      <div class="form-text">Your Goat's Official Name (Used As A Secondary Identifier)</div>
    </div>
    <div class="mb-3 col">
      <!--Should it appear unsaved if changed while focussed?  (|| dateOfBirthEl.innerText !== dateOfBirth)-->
      <div class="input-group" [class.unsaved]="'dateOfBirth' in dirtyFields()">
        <span class="input-group-text">Date Of Birth:</span>
        <input type="text" class="form-control" [value]="goatForm.dateOfBirth().value() | longDate" #dateOfBirthEl
          (blur)="goatForm.dateOfBirth().value.set(dateOfBirthEl.value)" [disabled]="goatForm.dateOfBirth().disabled()">
      </div>
      <div class="form-text">Your Goat's Birth Date (Formatted Automatically)</div>
    </div> @if (!goatForm.dateOfDeath().disabled() || goatForm.dateOfDeath().value()) { <div class="mb-3 col">
      <!--Should it appear unsaved if changed while focussed?  (|| dateOfBirthEl.innerText !== dateOfBirth)-->
      <div class="input-group" [class.unsaved]="'dateOfDeath' in dirtyFields()">
        <span class="input-group-text">Deceased:</span>
        <input type="text" class="form-control" [value]="goatForm.dateOfDeath().value() | longDate" #dateOfDeathEl
          (blur)="goatForm.dateOfDeath().value.set(dateOfDeathEl.value)" [disabled]="goatForm.dateOfDeath().disabled()">
      </div>
      <div class="form-text">Your Goat's Date of Death (Formatted Automatically)</div>
    </div> } <div class="mb-3 col">
      <div class="input-group" [class.unsaved]="'normalizeId' in dirtyFields()">
        <span class="input-group-text">ID:</span>
        <input type="text" class="form-control" [formField]="goatForm.normalizeId" placeholder="PD1234">
      </div>
      <div class="form-text">Your Goat's ID (Used As A Identifier If None Other Is Available)</div>
    </div> @if (!related) { <div class="mb-3 col">
      <div class="input-group" [class.unsaved]="'description' in dirtyFields()">
        <span class="input-group-text">Description:</span>
        <textarea type="text" class="form-control" [formField]="goatForm.description" markdown></textarea>
      </div>
      <div class="form-text">Some Information About Your Goat</div>
    </div> } @if (!related) { <div class="mb-3 col">
      <div class="input-group" [class.unsaved]="'colorAndMarking' in dirtyFields()">
        <span class="input-group-text">Color And Markings:</span> @if (!goatForm.colorAndMarking().disabled()) { <textarea type="text"
          class="form-control" [formField]="goatForm.colorAndMarking"></textarea> } @else { <app-case-input
          [modelValue]="goatForm.colorAndMarking().value()" class="form-control"></app-case-input> }
      </div>
      <div class="form-text">What Your Goat Looks Like</div>
    </div> } @if (!related) { <div class="mb-3 col">
      <button class="btn btn-secondary w-100 color-scheme-quaternary" type="button" data-bs-toggle="collapse" data-bs-target="#tattoos"
        aria-expanded="false" aria-controls="tattoos" [class.unsaved]="false"> Tattoos <i class="bi bi-ear"></i>
      </button>
      <div class="collapse p-3 color-scheme-secondary" id="tattoos"> @for (tattoo of goatForm.tattoos; track $index; let i = $index) {
        <span>
          <div class="input-group mb-1">
            <span class="input-group-text">Tattoo:</span>
            <input type="text" class="form-control w-25" [formField]="tattoo.location" placeholder="Location"><span
              class="input-group-text">:</span>
            <input type="text" class="form-control" [formField]="tattoo.description" placeholder="Description">
          </div>
        </span> } </div>
    </div> } <div class="mb-3 col">
      <div class="input-group" [class.unsaved]="'sex' in dirtyFields()">
        <span class="input-group-text">Sex:</span>
        <select class="form-select" aria-label="Sex Select Dropdown" [formField]="goatForm.sex"> @if (!goatForm.sex().value()) { <option
            value="">Unspecified (Female)</option> } <option value="Male">Male</option> @if (goatForm.sex().value()) { <option
            value="Female">Female</option> } </select>
      </div>
      <div class="form-text">Your Goat's Gender (Defualt's to 'Female' if needed)</div>
    </div> @if (forSale) { <div class="mb-3 col">
      <div class="input-group" [class.unsaved]="'pet' in dirtyFields()">
        <span class="input-group-text">Sale Type:</span>
        <select #petSelect class="form-select" aria-label="Sale Type Select Dropdown" [value]="goatForm.pet().value()"
          (change)="goatForm.pet().value.set(petSelect.value === 'true')"> @if (!goatForm.pet().value()) { <option value="undefined">
            Unspecified (Registered)</option> } <option value="true">Pet</option> @if (goatForm.pet().value()) { <option value="false">
            Registered</option> } </select>
      </div>
      <div class="form-text">Wether or not you're selling this animal with papers (Defualt's to 'Registered' if needed)</div>
    </div>
    <div class="mb-3 col">
      <div class="input-group" [class.unsaved]="'price' in dirtyFields()">
        <span class="input-group-text">Price:</span>
        <input type="text" class="form-control" [formField]="goatForm.price" placeholder="0.00">
      </div>
      <div class="form-text">The Price to Display for this Goat</div>
    </div> } <div class="mb-3 col">
      <div class="input-group" [class.unsaved]="'damId' in dirtyFields()">
        <span class="input-group-text">Dam's ID:</span>
        <input type="text" class="form-control" [value]="goatForm.damId().value()"
          (change)="goatForm.damId().value.set($event.target.value)" placeholder="Dam's ID" [disabled]="goatForm.damId().disabled()"
          goat-search="does">
      </div>
      <div class="form-text">The Dam's ID (Different From Their Registration ID)</div>
    </div>
    <div class="mb-3 col">
      <div class="input-group" [class.unsaved]="'sireId' in dirtyFields()">
        <span class="input-group-text">Sire's ID:</span>
        <input type="text" class="form-control" [value]="goatForm.sireId().value()"
          (change)="goatForm.sireId().value.set($event.target.value)" placeholder="Sire's ID" [disabled]="goatForm.sireId().disabled()"
          goat-search="bucks">
      </div>
      <div class="form-text">The Sire's ID (Different From Their Registration ID)</div>
    </div> @if (related) { <div class="mb-3 col">
      <div class="input-group" [class.unsaved]="'owner' in dirtyFields()">
        <span class="input-group-text">Owner:</span>
        <app-case-input class="form-control" [modelValue]="goatForm.owner().value()"></app-case-input>
      </div>
      <div class="form-text">The Current Owner of this Goat</div>
    </div> } <div class="mb-3 col">
      <button class="btn btn-secondary w-100 color-scheme-quaternary" type="button" data-bs-toggle="collapse" data-bs-target="#linear"
        aria-expanded="false" aria-controls="linear" [class.unsaved]="false"> Linear Appraisals <i class="bi bi-clipboard2-data"></i>
      </button>
      <div class="collapse p-3 color-scheme-secondary" id="linear">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col" tooltip="General Appearance">GA</th>
              <th scope="col" tooltip="Dairy Strength">DS</th>
              <th scope="col" tooltip="Body Capacity">BC</th> @if (goatForm.sex().value() === 'Female') { <th scope="col"
                tooltip="Mammary System">MS</th> } <th scope="col" tooltip="Final Score">FS</th>
            </tr>
          </thead>
          <tbody> @if (!goatForm.linearAppraisals().value() || !goatForm.linearAppraisals().value().length) { <tr>
              <td colspan="100" class="text-center"> No Linear Appraisal History Found </td>
            </tr> } @for (appraisal of goatForm.linearAppraisals().value(); track appraisal; let i = $index) { <tr>
              <th scope="row">{{appraisal.appraisalDate | longDate}}
              </th>
              <td>
                {{appraisal.generalAppearance}}
              </td>
              <td>
                {{appraisal.dairyStrength}}
              </td>
              <td>
                {{appraisal.bodyCapacity}}
              </td> @if (goatForm.sex().value() === 'Female') { <td>
                {{appraisal.mammarySystem}}
              </td> } <td [class.fst-italic]="appraisal.isPermanent" [class.fw-bold]="appraisal.isPermanent"
                [tooltip]="appraisal.isPermanent ? 'Permanent Score' : ''">
                {{appraisal.finalScore}}
              </td>
            </tr> } </tbody>
        </table>
      </div>
    </div>
    <div class="mb-3 col">
      <button class="btn btn-secondary w-100 color-scheme-quaternary" type="button" data-bs-toggle="collapse"
        data-bs-target="#lactationHistory" aria-expanded="false" aria-controls="lactationHistory" [class.unsaved]="false"> Lactation History
        <i class="bi bi-clipboard2-pulse"></i>
      </button>
      <div class="collapse p-3 color-scheme-secondary" id="lactationHistory">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Start Date</th>
              <th scope="col">Lactation</th>
              <th scope="col" tooltip="Days in Milk">DIM</th>
              <th scope="col" tooltip="Achieved/Projected (lbs)">Milk</th>
              <th scope="col" tooltip="Achieved/Projected (lbs)">Butter Fat</th>
              <th scope="col" tooltip="Achieved/Projected (lbs)">Protein</th>
            </tr>
          </thead>
          <tbody> @if (!goatForm.lactationRecords().value().length) { <tr>
              <td colspan="100" class="text-center"> No Lactation History Found </td>
            </tr> } @for (record of goatForm.lactationRecords().value(); track record; let i = $index) { <tr>
              <th scope="row" [class.fst-italic]="record.isCurrent" [class.fw-bold]="record.isCurrent"
                [tooltip]="record.isCurrent ? 'Active Lactation' : ''">{{record.startDate | longDate}}
              </th>
              <td>
                {{record.lactationNumber}}
              </td>
              <td>
                {{record.daysInMilk}}
              </td>
              <td>
                {{record.stats?.milk?.achieved}} / {{record.stats?.milk?.projected}}
              </td>
              <td>
                {{record.stats?.butterfat?.achieved}} / {{record.stats?.butterfat?.projected}}
              </td>
              <td>
                {{record.stats?.protein?.achieved}} / {{record.stats?.protein?.projected}}
              </td>
            </tr> } </tbody>
        </table>
      </div>
    </div>
    <div class="mb-3 col">
      <button class="btn btn-secondary w-100 color-scheme-quaternary" type="button" data-bs-toggle="collapse"
        data-bs-target="#currentLactation" aria-expanded="false" aria-controls="currentLactation" [class.unsaved]="false"> Current Lactation
        <i class="bi bi-clipboard-pulse"></i>
      </button>
      <div class="collapse p-3 color-scheme-secondary" id="currentLactation">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Test #:</th>
              <th scope="col">Test Date</th>
              <th scope="col" tooltip="Days in Milk">DIM</th>
              <th scope="col">Milk</th>
              <th scope="col" tooltip="Butter Fat Percent">Fat Pct.</th>
              <th scope="col" tooltip="Protein Percent">Protein Pct.</th>
            </tr>
          </thead>
          <tbody> @if (!currentLactation()?.tests?.length) { <tr>
              <td colspan="100" class="text-center"> No Tests Found For the Current Lactation </td>
            </tr> } @for (test of currentLactation()?.tests; track test; let i = $index) { <tr>
              <th scope="row">{{test.testNumber}}
              </th>
              <td>
                {{test.testDate | longDate}}
              </td>
              <td>
                {{test.daysInMilk}}
              </td>
              <td>
                {{test.milk}}
              </td>
              <td>
                {{test.butterfatPct}}%
              </td>
              <td>
                {{test.proteinPct}}%
              </td>
            </tr> } </tbody>
        </table>
      </div>
    </div>
    <div class="mb-3 col">
      <button class="btn btn-secondary w-100 color-scheme-quaternary" type="button" data-bs-toggle="collapse" data-bs-target="#awards"
        aria-expanded="false" aria-controls="awards" [class.unsaved]="false"> Awards <i class="bi bi-award"></i>
      </button>
      <div class="collapse p-3 color-scheme-secondary" id="awards">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Year</th>
              <th scope="col">Count</th>
              <th scope="col" tooltip="Award Code">Code</th>
              <th scope="col" tooltip="Award Description">Description</th>
            </tr>
          </thead>
          <tbody> @if (!goatForm.awards().value().length) { <tr>
              <td colspan="100" class="text-center"> No Awards Found </td>
            </tr> } @for (award of goatForm.awards().value(); track award; let i = $index) { <tr>
              <th scope="row">{{award.awardYear}}
              </th>
              <td>
                {{award.awardCount}}
              </td>
              <td>
                {{award.awardCode}}
              </td>
              <td>
                {{award.awardDescription}}
              </td>
            </tr> } </tbody>
        </table>
      </div>
    </div>
  </div>
</div>