<div class="input-group">
  <input
    type="text"
    class="form-control"
    placeholder="Add A Goat..."
    #search
    (keydown)="$event.key === 'Enter' ? dropdown.focus() : undefined"
  />
  <button
    #dropdown
    class="btn btn-secondary dropdown-toggle color-scheme-tertiary"
    type="button"
    data-bs-toggle="dropdown"
    (focus)="lookupGoats(search.value)"
    online-only
    [disabled]="!search.value.length"
  >
    <i class="bi bi-search"></i>
  </button>
  <ul
    class="dropdown-menu w-100 color-scheme-quaternary"
    style="max-height: 200px; overflow-y: scroll"
  >
    @if (!idGoats() || !nameGoats()) {
      <li class="dropdown-item color-scheme-quaternary">
        <i class="pe-2 bi bi-arrow-repeat spin"></i>Loading...
      </li>
    }
    @for (goat of idGoats(); track goat) {
      <li>
        <button
          class="dropdown-item color-scheme-quaternary"
          (click)="goatSelected.emit(goat)"
        >
          <div class="fw-semibold text-wrap">{{ goat.name }}</div>
          <div
            class="fw-light"
            [innerHTML]="formatGoat(goat, search.value).normalizeId"
          ></div>
        </button>
      </li>
    }
    @if (idGoats()?.length && nameGoats()?.length) {
      <li>
        <hr class="dropdown-divider" />
      </li>
    }
    @for (goat of nameGoats(); track goat) {
      <li>
        <button
          class="dropdown-item color-scheme-quaternary"
          (click)="goatSelected.emit(goat)"
        >
          <div
            class="fw-semibold text-wrap"
            [innerHTML]="formatGoat(goat, search.value).name"
          ></div>
          <div class="fw-light">{{ goat.normalizeId }}</div>
        </button>
      </li>
    }
    @if (
      idGoats() && nameGoats() && !nameGoats()!.length && !idGoats()!.length
    ) {
      <li>
        <span class="dropdown-item color-scheme-quaternary"
          >No Goats Found</span
        >
      </li>
    }
    <li>
      <hr class="dropdown-divider" />
    </li>
    <li>
      <button
        class="dropdown-item color-scheme-quaternary"
        (click)="goatSelected.emit({ name: search.value })"
      >
        <div class="fw-semibold text-wrap">
          Add Unregistered Goat With Name "{{ search.value }}"
        </div>
      </button>
    </li>
  </ul>
</div>
