<div class="list-group color-scheme-secondary">
  <button *ngFor="let goat of goats; index as i" class="list-group-item list-group-item-action color-scheme-tertiary"
    (click)="openGoat(i)">{{goat.nickname || goat.name || goat.normalizeId}} <i *ngIf="syncing === i"
      class="bi bi-arrow-repeat spin position-absolute" style="left: 3%"></i>
    <div class="btn-group position-absolute translate-middle top-50 parent-hover" style="right: -5%">
      <button class=" btn btn-outline-indigo btn-sm" (click)="openImages($event, i)" tooltip="Edit Images"
        *ngIf="goat.nickname || goat.name || goat.normalizeId">
        <i class="bi bi-images"></i>
      </button> <button class="  btn btn-outline-danger btn-sm" (click)="deleteGoat($event, i)"
        tooltip="Delete {{goat.nickname || goat.name || goat.normalizeId}}">
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </button>
  <app-goat-lookup class="list-group-item list-group-item-action color-scheme-tertiary" (goatSelected)="newGoat($event)" [filter]="filter">
  </app-goat-lookup>
</div>
