<div class="container">
  <h1 class="text-center flex-grow-1" [class.unsaved]="unsavedChanges()">
    {{customPageForm.title().value() || 'Custom Page ' + (index() + 1)}}:
  </h1>
  <div class="input-group mb-3">
    <span class="input-group-text" id="page-name" [class.unsaved]="'title' in dirtyFields()">Custom Page Title</span>
    <input type="text" class="form-control" aria-describedby="page-name" [suggestion]="'Custom Page ' + (index() + 1)"
      [formField]="customPageForm.title" />
  </div>
  <div class="input-group mb-5">
    <span class="input-group-text" id="page-content" [class.unsaved]="'content' in dirtyFields()">Custom Page Content</span>
    <textarea class="form-control" aria-describedby="page-content" [formField]="customPageForm.content" markdown markdown-images></textarea>
  </div>
</div>