<h1 class="text-center" [class.unsaved]="unsavedChanges()">
  Kidding Schedule:
</h1>
<div class="container text-center">
  <div
    class="list-group position-relative"
    cdkDropList
    cdkDropListLockAxis="y"
    (cdkDropListDropped)="rearrangeKidding($event)"
    style="height: 445.5px"
  >
    <span
      class="d-flex list-group-item form-check form-switch form-check-reverse justify-content-center position-sticky top-0 color-scheme-tertiary"
      style="min-height: auto; z-index: 1 !important"
    >
      <label class="form-check-label" for="enabledSwitch">
        @if (kiddingScheduleEnabled) {
          <span class="fw-bold text-success">Enabled</span>
        }
        @if (!kiddingScheduleEnabled) {
          <span class="fw-bold text-danger">Disabled</span>
        }
      </label>
      <input
        class="ms-1 form-check-input"
        type="checkbox"
        role="switch"
        id="enabledSwitch"
        [(ngModel)]="kiddingScheduleEnabled"
      />
    </span>
    @if (!kiddingSchedule().length) {
      <button class="list-group-item color-scheme-tertiary unavailable">
        @if (loading()) {
          Loading...
        } @else {
          No Kidding Schedule Found!
        }
      </button>
    }
    @for (kidding of kiddingSchedule(); track $index; let i = $index) {
      <button
        class="list-group-item list-group-item-action color-scheme-tertiary"
        (click)="openKidding(i)"
        cdkDrag
      >
        {{ kidding.dam || "(Unknown)" }} x {{ kidding.sire || "(Unknown)" }}
        {{
          kidding.kidded
            ? " - Kidded " + kidding.kidded
            : kidding.due
              ? " - Due " + kidding.due
              : ""
        }}
        <i
          class="position-absolute translate-middle-y top-50 bi bi-list parent-hover h3 draggable"
          style="left: 1%; cursor: grab"
          cdkDragHandle
        ></i>
        <div
          class="drag-placeholder color-scheme-quaternary"
          *cdkDragPlaceholder
        ></div>
        <div
          class="btn-group position-absolute translate-middle-y top-50 parent-hover"
          style="right: 1%"
        >
          <button
            class="btn btn-outline-danger btn-sm"
            (click)="deleteKidding($event, i)"
            tooltip="Delete {{ kidding.dam }} x {{ kidding.sire }}"
          >
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </button>
    }
    <button
      class="list-group-item list-group-item-action text-center position-sticky bottom-0 border-top color-scheme-tertiary"
      (click)="addKidding()"
    >
      Add a Breeding <i class="ps-1 pt-2 bi bi-plus-lg"></i>
    </button>
  </div>
</div>
