<div class="container text-center d-flex flex-column justify-content-center vh-100">
  <h1>ADGA Login:</h1>
  <form>
    <div class="mb-4">
      <label for="username" class="form-label">Username:</label>
      <input name="username" type="text" class="form-control" [class.is-valid]="!!username" [class.is-invalid]="!username" required
        [(ngModel)]="username" id="username" type="email">
      <div class="invalid-feedback"> Please Specify Your Username </div>
    </div>
    <div class="mb-4">
      <label for="password" class="form-label">Password:</label>
      <div class="input-group has-validation">
        <input #passkey name="password" type="text" class="form-control" [class.is-valid]="!!password" [class.is-invalid]="!password"
          id="password" required [(ngModel)]="password" type="password">
        <button class="input-group-text btn btn-secondary color-scheme-quaternary"
          (click)="passkey.type = passkey.type === 'password' ? 'text' : 'password'" type="button">
          <i class="bi" [class.bi-eye]="passkey.type === 'password'" [class.bi-eye-slash]="passkey.type === 'text'"></i>
        </button>
        <div class="invalid-feedback"> Please Specify Your Password </div>
      </div>
    </div>
    <div class="mb-4">
      <label for="id" class="form-label">Account ID (Optional):</label>
      <input name="id" type="number" class="form-control" [(ngModel)]="id" id="id" type="email">
      <div class="valid-feedback"> Looks good! </div>
    </div>
    <div>
      <button (click)="login()" advanced="false" [disabled]="!username || !password || status !== 'Login'" type="button" class="btn btn"
        [class.btn-info]="status === 'Login'" [class.btn-warning]="status === 'Logging In...'" [class.btn-success]="status === 'Success!'"
        [class.btn-danger]="status === 'Login Failed'">{{status}} <i class="bi h3" [class.bi-person-add]="status === 'Login'"
          [class.bi-person-dash]="status === 'Logging In...'" [class.bi-person-exclamation]="status === 'Login Failed'"
          [class.bi-person-check]="status === 'Success!'"></i></button>
      <button (click)="logout()" advanced type="button" class="btn btn-danger">Logout <i class="bi bi-person-x h3"></i></button>
    </div>
    <div>
      <h3 *ngIf="name">Welcome {{name}}</h3>
    </div>
  </form>
</div>
