<div *ngIf="cloning" class="container text-center d-flex flex-column justify-content-center vh-100">
  <h4>{{resolvingProgress() === 100 ? 'Done' : ('Cloning'+dots) }}</h4>
  <div class="progress-stacked mb-5">
    <div class="progress" role="progressbar" [style.width]=" (receivingProgress() === 0.5 ? (remoteProgress() + 33) : 100)+ '%'"
      [attr.aria-valuenow]="remoteProgress()" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar text-bg-warning" [class.progress-bar-striped]="receivingProgress() === 0.5"
        [class.progress-bar-animated]="receivingProgress() === 0.5">
        {{receivingProgress() === 0.5  ? 'Connecting... (' + remoteProgress() + '% - ' + cloningProgress() + ')' : 'Connected'}}
      </div>
    </div>
    <div class="progress" role="progressbar"
      [style.width]="(resolvingProgress() === 0.5 ? (receivingProgress() === 0.5 ? 0 : (receivingProgress() + 33)) : 100) + '%'"
      [attr.aria-valuenow]="receivingProgress()" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar text-bg-info" [class.progress-bar-striped]="resolvingProgress() === 0.5"
        [class.progress-bar-animated]="resolvingProgress() === 0.5">
        {{resolvingProgress() === 0.5 ? 'Downloading... (' + receivingProgress() + '% - ' + cloningProgress() + ')'  : 'Downloaded'}}
      </div>
    </div>
    <div class="progress" role="progressbar" [style.width]="(resolvingProgress()===0.5 ? 0 : (resolvingProgress()+33)) + '%'"
      [attr.aria-valuenow]="resolvingProgress()" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar text-bg-success" [class.progress-bar-striped]="resolvingProgress() < 100"
        [class.progress-bar-animated]="resolvingProgress() < 100">
        {{resolvingProgress() < 100 ? 'Resolving... (' + resolvingProgress() + '% - ' + cloningProgress() + ')' : 'Resolved'}}
      </div>
    </div>
  </div>
</div>
<div class="container text-center d-flex flex-column justify-content-center vh-100" *ngIf="!cloning">
  <h1>Setup Your Website:</h1>
  <form (ngSubmit)="existingID ? updateSetup() :  setup()">
    <div *ngIf="existingID || payloadId" class="mb-4">
      <label for="url" class="form-label">Website ID:</label>
      <input name="id" type="text" class="form-control" [class.is-valid]="!!id" [class.is-invalid]="!id" id="url" required
        placeholder="ex. LilPilchuckCreek" [(ngModel)]="id">
    </div>
    <div *ngIf="existingID || payloadId" class="mb-4">
      <label for="token" class="form-label">Access Token:</label>
      <input name="token" type="text" class="form-control" [class.is-valid]="token.startsWith('github_pat_') && token.length === 93"
        [class.is-invalid]="!token.startsWith('github_pat_') || token.length !== 93" id="token" placeholder="github_pat_"
        [(ngModel)]="token">
      <div class="invalid-feedback" *ngIf="token">
        {{!token ? 'Please Specify Your Token' : !token.startsWith('github_pat_') ? 'Tokens Must Start With `github_pat_`' :  'Tokens Must Be 93 Characters Long'}}
      </div>
    </div>
    <div class="mb-4">
      <label for="name" class="form-label">Name:</label>
      <input name="name" type="text" class="form-control" [class.is-valid]="!!name" [class.is-invalid]="!name" id="name" required
        placeholder="Used For Identification Purposes When Publishing Changes" [(ngModel)]="name">
    </div>
    <div class="mb-4">
      <label for="email" class="form-label">Email:</label>
      <input name="email" type="email" class="form-control" [class.is-valid]="email" [class.is-invalid]="!email" id="email" required
        placeholder="Used For Identification Purposes When Publishing Changes" [(ngModel)]="email" email>
    </div>
    <div class="form-text">Note that your name and email are only used for identification purposes when publishing changes. <span
        *ngIf="!id">This means that until you subscribe to DigiGoat and publish your website, your information is not shared. Anything you
        do right now is for you and you only </span> </div>
    <button [disabled]="!name || !email || (token && !token.startsWith('github_pat_'))" type="button" class="btn btn-info mt-4"
      [advanced]="existingID" (click)="setup()">Get Started <i class="bi bi-cloud-download"></i></button>
    <button (click)="updateSetup()" [disabled]="!existingID || !id || (token && !token.startsWith('github_pat_')) || !name || !email"
      type="button" class="btn btn-info mt-4" [advanced]="!existingID">Configure <i class="bi bi-cloud-plus"></i></button>
    <button type="submit" class="d-none">Hidden button to enable ngSubmit binding</button>
  </form>
</div>
