<div class="list-group color-scheme-secondary">
  @if (!goats().length) {
    <button class="list-group-item color-scheme-tertiary unavailable">
      @if (loading()) {
        Loading...
      } @else {
        No Goats Found!
      }
    </button>
  }
  @for (goat of goats(); track goat; let i = $index) {
    <button
      class="list-group-item list-group-item-action color-scheme-tertiary"
      (click)="openGoat(i)"
    >
      {{ goat.nickname || goat.name || goat.normalizeId }}
      @if (syncing === i) {
        <i
          class="bi bi-arrow-repeat spin position-absolute"
          style="left: 3%"
        ></i>
      }
    </button>
  }
</div>
