#colorSettings>div>input {
  font-size: 0.775rem;
  padding-left: 0.25rem;
  padding: 0.25rem;
  color: white;
}

#colorSettings>div>input.light {
  color: black;
}


#colorSettings>div>input.light::placeholder {
  color: hsl(0, 0%, 25%)
}

#colorSettings>div>input::placeholder {
  color: hsl(0, 0%, 75%)
}