<h1 class="text-center">Website Settings:</h1>
<p class="text-center text-secondary fst-italic" *ngIf="!suggestionService.name">Tip: You Can Autofill Most Of This Info Once You <button
    class="btn btn-link text-secondary fst-italic p-0" (click)="openLogin()">Login To Your ADGA Account</button> </p>
<div class="container">
  <div class="row px-3 row-cols-2  row-cols-xxl-3 justify-content-around">
    <div class="mb-3 col">
      <div class="input-group" [class.unsaved]="configService.isDirty('title')">
        <span class="input-group-text">Farm Name:</span>
        <input type="text" class="form-control" [(ngModel)]="configService.title" [suggestion]="suggestionService.title">
      </div>
      <div class="form-text">Your Farm's Name To Be Displayed On The Home Page and in the Menubar</div>
    </div>
    <div class="mb-3 col">
      <div class="input-group" [class.unsaved]="configService.isDirty('shortTitle')">
        <span class="input-group-text">Short Farm Name:</span>
        <input type="text" class="form-control" [(ngModel)]="configService.shortTitle" [suggestion]="suggestionService.shortTitle">
      </div>
      <div class="form-text">Your Farm's Name To Be Displayed At The End Of The Tab Title</div>
    </div>
    <div class="mb-3 col">
      <div class="input-group" [class.unsaved]="configService.isDirty('owner')">
        <span class="input-group-text">Owner:</span>
        <input type="text" class="form-control" [(ngModel)]="configService.owner" [suggestion]="suggestionService.name">
      </div>
      <div class="form-text">Your Name To Be Displayed In The Footer & On The Homepage</div>
    </div>
    <div class="mb-3 col">
      <div class="input-group" [class.unsaved]="configService.isDirty('email')">
        <span class="input-group-text">Email:</span>
        <input type="email" class="form-control" [(ngModel)]="configService.email" [suggestion]="suggestionService.email">
      </div>
      <div class="form-text">Your Email To Be Displayed In The Footer & On The Homepage</div>
    </div>
    <div class="mb-3 col">
      <div class="input-group" [class.unsaved]="configService.isDirty('homeDescription')">
        <span class="input-group-text">Homepage Content:</span>
        <textarea type="text" class="form-control" [(ngModel)]="configService.homeDescription" markdown markdown-images></textarea>
      </div>
      <div class="form-text">The Content To Be Displayed On The Homepage</div>
    </div>
    <div class="mb-3 col">
      <div class="input-group" [class.unsaved]="configService.isDirty('saleTerms')">
        <span class="input-group-text">Sale Terms & Pricing:</span>
        <textarea type="text" class="form-control" [(ngModel)]="configService.saleTerms" markdown markdown-images></textarea>
      </div>
      <div class="form-text">The Content To Be In The Sale Terms & Pricing Popup</div>
    </div>
    <div class="mb-3 col">
      <button class="btn btn-secondary w-100 color-scheme-quaternary" type="button" data-bs-toggle="collapse"
        data-bs-target="#colorSettings" aria-expanded="false" aria-controls="colorSettings"
        [class.unsaved]="configService.isDirty('colors')"> View Color Settings <i class="bi bi-palette2"></i> </button>
      <div class="collapse p-3 color-scheme-secondary" id="colorSettings">
        <div class="input-group">
          <span class="input-group-text">Main:</span>
          <input type="text" class="form-control" [ngModel]="configService.colors.main"
            (ngModelChange)="configService.colors = {main: $event}"
            [style.background-color]="configService.colors.main || 'hsl(230, 100%, 10%)'" suggestion="hsl(230, 100%, 10%)">
          <input type="text" class="form-control light" [ngModel]="configService.colors.light?.main"
            (ngModelChange)="configService.colors = {light: {main: $event}}"
            [style.background-color]="configService.colors.light?.main || 'hsl(230, 100%, 80%)'" suggestion="hsl(230, 100%, 80%)">
        </div>
        <div class="form-text">Primarily used for the background of the page</div>
        <div class="input-group mt-3">
          <span class="input-group-text">Secondary:</span>
          <input type="text" class="form-control" [ngModel]="configService.colors.secondary"
            (ngModelChange)="configService.colors = {secondary: $event}"
            [style.background-color]="configService.colors.secondary || 'hsl(230, 100%, 15%)'" suggestion="hsl(230, 100%, 15%)">
          <input type="text" class="form-control light" suggestion="hsl(230, 100%, 75%)" [ngModel]="configService.colors.light?.secondary"
            (ngModelChange)="configService.colors = {light: {secondary: $event}}"
            [style.background-color]="configService.colors.light?.secondary || 'hsl(230, 100%, 75%)'">
        </div>
        <div class="form-text">Primarily used for the menubar</div>
        <div class="input-group mt-3">
          <span class="input-group-text">Tertiary:</span>
          <input type="text" class="form-control" [ngModel]="configService.colors.tertiary"
            (ngModelChange)="configService.colors = {tertiary: $event}"
            [style.background-color]="configService.colors.tertiary || 'hsl(230, 100%, 20%)'" suggestion="hsl(230, 100%, 20%)">
          <input type="text" class="form-control light" [ngModel]="configService.colors.light?.tertiary"
            (ngModelChange)="configService.colors = {light: {tertiary: $event}}"
            [style.background-color]="configService.colors.light?.tertiary || 'hsl(230, 100%, 70%)'" suggestion="hsl(230, 100%, 70%)">
        </div>
        <div class="form-text">Primarily used for the header and footer of your goats popups</div>
        <div class="input-group mt-3">
          <span class="input-group-text">Quaternary:</span>
          <input type="text" class="form-control" [ngModel]="configService.colors.quaternary"
            (ngModelChange)="configService.colors = {quaternary: $event}"
            [style.background-color]="configService.colors.quaternary || 'hsl(230, 100%, 25%)'" suggestion="hsl(230, 100%, 25%)">
          <input type="text" class="form-control light" [ngModel]="configService.colors.light?.quaternary"
            (ngModelChange)="configService.colors = {light: {quaternary: $event}}"
            [style.background-color]="configService.colors.light?.quaternary || 'hsl(230, 100%, 65%)'" suggestion="hsl(230, 100%, 65%)">
        </div>
        <div class="form-text">Primarily used for the background of your goats popups</div>
      </div>
      <div class="form-text">The Colors to be used on your website (Dark mode on the left, light mode on the right) </div>
    </div>
    <div class="mb-3 col">
      <button class="btn btn-secondary w-100 color-scheme-quaternary" type="button" data-bs-toggle="collapse"
        data-bs-target="#analyticSettings" aria-expanded="false" aria-controls="analyticSettings"
        [class.unsaved]="configService.isDirty('analytics')"> View Analytics <i class="bi bi-clipboard-data"></i> </button>
      <div class="collapse p-3 color-scheme-secondary" id="analyticSettings">
        <div class="input-group ">
          <span class="input-group-text">GTAG:</span>
          <input type="text" class="form-control" [ngModel]="configService.analytics.gtag"
            (ngModelChange)="configService.analytics = {gtag: $event}">
        </div>
        <div class="form-text">Your Google Analytics Tag ID</div>
        <div class="input-group mt-3">
          <span class="input-group-text">Clarity:</span>
          <input type="text" class="form-control" [ngModel]="configService.analytics.clarity"
            (ngModelChange)="configService.analytics = {clarity: $event}">
        </div>
        <div class="form-text">Your Microsoft Clarity ID</div>
      </div>
      <div class="form-text">The Analytics Settings For Your Website</div>
    </div>
    <div class="mb-3 col">
      <button class="btn btn-secondary w-100 color-scheme-quaternary" type="button" data-bs-toggle="collapse"
        data-bs-target="#socialsSettings" aria-expanded="false" aria-controls="socialsSettings"
        [class.unsaved]="configService.isDirty('socials')"> View Socials <i class="bi bi-share"></i> </button>
      <div class="collapse p-3 color-scheme-secondary" id="socialsSettings">
        <div class="input-group ">
          <span class="input-group-text">Facebook:</span>
          <input type="text" class="form-control" [ngModel]="configService.socials.facebook"
            (ngModelChange)="configService.socials = {facebook: $event}">
          <a class="input-group-text btn btn-secondary color-scheme-quaternary" target="_blank"
            href="https://facebook.com/{{configService.socials.facebook}}" type="button" *ngIf="configService.socials.facebook">
            <i class="bi bi-facebook"></i>
          </a>
        </div>
        <div class="form-text">Your Farm's Facebook Username</div>
        <div class="input-group mt-3">
          <span class="input-group-text">Instagram:</span>
          <input type="text" class="form-control" [ngModel]="configService.socials.instagram"
            (ngModelChange)="configService.socials = {instagram: $event}">
          <a class="input-group-text btn btn-secondary color-scheme-quaternary" target="_blank"
            href="https://instagram.com/{{configService.socials.instagram}}" type="button" *ngIf="configService.socials.instagram">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
        <div class="form-text">Your Farm's Instagram Username (Don't include &#64;)</div>
        <div class="input-group mt-3">
          <span class="input-group-text">Threads:</span>
          <input type="text" class="form-control" [ngModel]="configService.socials.threads"
            (ngModelChange)="configService.socials = {threads: $event}">
          <a class="input-group-text btn btn-secondary color-scheme-quaternary" target="_blank"
            href="https://threads.net/@{{configService.socials.threads}}" type="button" *ngIf="configService.socials.threads">
            <i class="bi bi-threads"></i>
          </a>
        </div>
        <div class="form-text">Your Farm's Threads Username (Don't include &#64;)</div>
      </div>
      <div class="form-text">Your Farm's Social Media Associations</div>
    </div>
    <div class="mb-3 col">
      <button class="btn btn-secondary w-100 color-scheme-quaternary" type="button" (click)="changeFavicon()"> Change Favicon <i
          class="bi bi-bookmark-star"></i></button>
      <div class="form-text">This is the logo that browsers will use for the tab, bookmarks, and app. Use <a
          href="http://realfavicongenerator.net/" target="_blank">Real Favicon Generator</a> To Create Your Favicon, Then Import Them Here
      </div>
    </div>
  </div>
</div>