<header class="navbar navbar-expand-lg sticky-top color-scheme-secondary" style="height: 45px">
  <div class="container-fluid px-0">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto nav nav-tabs nav-fill w-75">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="home" data-bs-toggle="collapse">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="goats" data-bs-toggle="collapse">Goats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" ariaCurrentWhenActive="page" routerLink="kidding-schedule"
            data-bs-toggle="collapse">Kidding Schedule</a>
        </li>
      </ul>
      <ul class="navbar-nav nav pe-2 d-flex justify-content-end align-items-center nav-border w-25">
        <li class="nav-item" tooltip="Publish Changes" advanced="false">
          <button online-only type="button" class="nav-link position-relative" [disabled]="publishing || !changes" (click)="publish()"> <i
              class="bi bi-cloud-upload h4"></i>
            <span class="position-absolute translate-middle badge rounded-pill bg-success opacity-75" style="top: 25% !important;"
              *ngIf="changes"> {{changes}}<span class="visually-hidden">unread messages</span>
            </span>
            <div class="progress position-absolute start-0 end-0" role="progressbar" aria-label="Animated striped example"
              [attr.aria-valuenow]="publishProgress()" aria-valuemin="0" aria-valuemax="100" *ngIf="publishing"
              style="bottom: 7.5px; height: 7.5px">
              <div class="progress-bar progress-bar-striped progress-bar-animated" [style]="'width: '+publishProgress()+'%'"></div>
            </div>
          </button>
        </li>
        <li class="nav-item" tooltip="Reset Changes" advanced>
          <button type="button" class="nav-link position-relative" (click)="reset()"> <i class="bi bi-cloud-slash h4 text-danger"></i>
            <span class="position-absolute translate-middle badge rounded-pill bg-danger opacity-75" style="top: 25% !important;">
              {{changes}}<span class="visually-hidden">unread messages</span>
            </span>
          </button>
        </li>
        <li class="nav-item" tooltip="History">
          <a class="nav-link" routerLink="history" routerLinkActive="active"> <i class="bi bi-clock-history h4"></i></a>
        </li>
        <li class="nav-item" tooltip="{{previewStatus === 'active' ? 'Stop' : previewStatus === 'loading' ? 'Loading' : 'Start'}} Preview">
          <button class="nav-link position-relative" (click)="togglePreview()" [disabled]="previewStatus === 'loading'">
            <i class="bi {{previewStatus === 'active' ? 'bi-stop' : 'bi-play'}} h3"></i>
            <div *ngIf="previewStatus === 'loading'" class="spinner-grow position-absolute top-50 start-50 translate-middle" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
        </li>
        <li class="nav-item" tooltip="Settings">
          <a class="nav-link" routerLink="settings" routerLinkActive="active">
            <i class="bi bi-gear-wide-connected h4"></i></a>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="py-3 border border-top-0 border-secondary-subtle" style="min-height: calc(100vh - 45px);"
  extra="calc(100vh - (45px + 50px)); margin-bottom: 50px;">
  <router-outlet></router-outlet>
</div>