name: Release app
on:
  workflow_dispatch:
  push:
    branches: [main, beta]
permissions:
  contents: write
env:
  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
  SENTRY_ORG: ${{ vars.SENTRY_ORG }}
  SENTRY_PROJECT: ${{ vars.SENTRY_PROJECT }}

jobs:
  macos_arm_release:
    runs-on: macos-latest
    env:
      SENTRY_DIST: macos-arm64

    steps:
      - name: Github checkout
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: yarn
          cache-dependency-path: yarn.lock

      - name: Install dependencies
        run: yarn install

      - name: Fix version
        if: github.ref_name == 'main'
        run: yarn fix-version

      - name: Rebuild dependencies
        run: yarn install

      - name: Publish app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: yarn publish:mac

  macos_release:
    runs-on: macos-15-intel
    env:
      SENTRY_DIST: macos-x64

    steps:
      - name: Github checkout
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: yarn
          cache-dependency-path: yarn.lock

      - name: Install dependencies
        run: yarn install

      - name: Fix version
        if: github.ref_name == 'main'
        run: yarn fix-version

      - name: Rebuild dependencies
        run: yarn install

      - name: Publish app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: yarn publish:mac

  windows_release:
    runs-on: windows-latest
    env:
      SENTRY_DIST: windows

    steps:
      - name: Github checkout
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: yarn
          cache-dependency-path: yarn.lock

      - name: Install dependencies
        run: yarn install

      - name: Fix version
        if: github.ref_name == 'main'
        run: yarn fix-version

      - name: Rebuild dependencies
        run: yarn install

      - name: Publish app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: yarn publish:windows

  publish_release:
    needs: [macos_release, macos_arm_release, windows_release]
    runs-on: ubuntu-latest
    env:
      YARN_IGNORE_ENGINES: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn
          cache-dependency-path: yarn.lock

      - name: Install dependencies
        run: yarn install

      - name: Fix version
        if: github.ref_name == 'main'
        run: yarn fix-version

      - name: Rebuild dependencies
        run: yarn install

      - name: Release new version
        id: release
        run: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BEFORE: ${{ github.event.before }}

      - name: Create Sentry release
        uses: getsentry/action-release@v3
        with:
          environment: ${{ github.ref_name == 'main' && 'production' || 'beta' }}
          release: DigiGoat@${{ steps.release.outputs.version }}
          set_commits: 'manual'
          commit: ${{ github.sha }}
          previous_commit: ${{ github.event.before }}
          repo: DigiGoat/client-app
